# SvelteKit
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# PlatformIO
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
secrets.ini

# VSCode Snippets
.vscode/settings.json
.vscode/svelte.code-snippets
.vscode/javascript.code-snippets
.vscode/cpp.code-snippets
